<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Moment_1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Moment_1.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div id="hleft">
            <a class="navbar-brand" asp-area="" asp-page="/Index">
                <img src="~/assets/logo.png" alt="Picture of me">
            </a>
        </div>

        <div id="hright">
            <span>Dagens datum är: @DateTime.Now</span>
        </div>
    </header>

    <div class="bodycontainer">

        <nav id="mainmenu">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Razor">Razor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Om">Om sidan</a>
                </li>
            </ul>
        </nav>


        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <span>Av Linus Hvenfelt - Kontakta mig: <a href="mailto:linushvenfelt@gmail.com">linushvenfelt@@gmail.com</a></span>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>