html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #e9cecb;
  color: black;
}
h1, h2, h3, h4, h5, h6 {
  color: #3a458c;
}

header {
  justify-content: space-between;
  display: flex;

  border: 1px solid black
}
#hleft, #hright {
  margin-left: 3%;
  margin-right: 3%;
}
#hleft a img {
  width: auto;
  height: 170px;
}
#hright {
  padding-top: 30px;
  font-style: italic; 
  color: gray;
}

#mainmenu {
  text-align: center;
}
#mainmenu ul li a {
  padding: 5%;

  background-color: #3a458c;

  border-radius: 4px;
  margin-top: 3%;
  color: white!important;
}

footer {
  text-align: center;
}


@media only screen and (min-width: 768px) {
  .bodycontainer {
    display: flex;
  }
  .bodycontainer #mainmenu {
    width: 15%;
    margin-left: 2%;
  }
  .bodycontainer main {
    width: 65%;
    margin-left: 3%;
    margin-right: 5%;
  }

}