@page
@model Moment_1.Pages.OmModel
@{
}

<div>
    <h1>Om sidan</h1>

    <p>Jag heter Linus Hvenfelt, och just nu pluggar jag faktiskt till en kandidatexamen på Linnéuniversitetet, men har hoppat på denna kursen!
        Saknat webbprogrammering och ville lära mig det sista "stora" ramverket inom webb, så jag passade på.
    </p>
    <p>På fritiden gosar jag med mina djur, spelar World of Warcraft och spelar en massa elgitarr.</p>

    <p>Bild på min gulliga hund Tindra:</p>
    <img src="~/assets/tindra.jpg" alt="Bild på Tindra">
</div>